#content {
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 3px 15px 0px hsla(5, 70%, 90%, 0.6);
  background: #ffffff;
}

body.page-index #content {
  box-shadow: none;
  padding: 0;
  background: transparent;
}
